.none {
    display: none;
}

.w100 {
    width: 100%;
}

.main-flex {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1200px) {
    .main-flex {
        flex-direction: column;
    }
}

.row .home-picture {
    align-self: center;
    max-width: 400px;
}