.none {
    display: none;
}

.w100 {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.flex-row,
.flex-row-xl
 {
    display: flex;
    flex-direction: row;
}

.flex-shrink2 {
    display: flex;
    flex-shrink: 2;
}

.flex-grow3 {
    display: flex;
    flex-grow: 3;
}

@media only screen and (max-width: 1200px) {
    .flex-row-xl {
        flex-direction: column;
    }
}

.row .home-picture {
    align-self: center;
    max-width: 400px;
}

@media only screen and (max-width: 1200px) {
    .xl {
        display: none;
    }
}
